.node {
    word-break: break-word;
    user-select: text;
    padding: 1em;
}

.header {
    display: flex;
}

.title {
    font-size: 16px;
    font-weight: 400;
}

.closedState {
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.count {
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.date {
    color: rgb(153, 153, 153);
    font-size: 14px;
    margin-left: auto;
}

.entry {
    padding: 0.5em;
    margin-bottom: 2px;
    background-color: #383a4c6e;
    font-size: 14px;
}
