.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4em;
    text-align: center;
}

.cover {
    max-width: 100%;
}

.description {
    font-size: 2em;
    padding: 1em;
    user-select: text;
}

.authors {
    padding: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.author {
    margin-right: 2em;
}

.author:hover .username {
    text-decoration: underline;
}

.authors a {
    display: flex;
    align-items: center;
    color: rgb(212, 213, 217);
    text-decoration: none;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 4px;
    display: inline;
}

.username {
    font-weight: bold;
    display: inline;
    font-size: 1em;
}
