.node {
    padding: 2px 14px;
    user-select: text;
}

.node:hover {
    background: #393a4d;
}

.info {
    display: flex;
    align-items: flex-end;
    color: grey;
    line-height: 1.5;
}

.info a {
    display: flex;
    align-items: center;
    color: grey;
    text-decoration: none;
}

.avatar {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline;
}

.username {
    font-weight: bold;
    display: inline;
    font-size: 10px;
}

.date {
    display: inline;
    font-size: 8px;
    margin-left: .5em;
    opacity: 0.5;
}

.body {
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.5;
}

.body .greenText {
    color: #789922;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
