.chat-input {
    background-color: rgb(50, 52, 72);
    padding: 1em;
    display: flex;
}

.chat-input > textarea {
    flex-grow: 1;
    background: #2a2c3b;
    color: #d4d5d9;
    border-color: #393a4d;
    font-size: 14px;
    line-height: 1.5;
    vertical-align: middle;
    padding: 4px 6px;
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
    overflow-wrap: break-word;
    max-height: 115px;
    overflow-y: auto;
}

.chat-input > textarea:focus {
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
}
