.chat {
    flex-shrink: 0;
    flex-grow: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 34, 46);
}

.chat .history {
    overflow-y: auto;
    flex-grow: 1;
}

.chat .history::-webkit-scrollbar-track-piece {
    border: 3px solid rgb(33, 34, 46);
    background-color: rgb(39, 41, 63);
}

.chat .history::-webkit-scrollbar-thumb {
    border: 3px solid rgb(33, 34, 46);
    background-color: rgb(18, 19, 29);
}
