.nav-bar {
    position: absolute;
    top: 0;
    width: 80px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: rgb(33, 34, 46);
}

.nav-bar::-webkit-scrollbar-track-piece {
    border: 3px solid rgb(33, 34, 46);
    background-color: rgb(39, 41, 63);
}

.nav-bar::-webkit-scrollbar-thumb {
    border: 3px solid rgb(33, 34, 46);
    background-color: rgb(18, 19, 29);
}
